<!DOCTYPE html>
<html>
<head>
	<title></title>
    <link rel="stylesheet" type="text/css" href="/public/styles.css"/>
</head>
<body>
    <div class="header">  
        <span class="site_title">Snippet Organizer</span>
    </div>
    <div class="register">
        <a href="/register">Register a new user</a>
    </div>
    
    <div class="users_listings">
    Click on a user to view their snippets!
    {{#users}}
        <li class="user"><a href="/{{_id}}">{{firstname}}</a></li>
    {{/users}}
    </div>

</body>
</html>
