<!DOCTYPE html>
<html>
<head>
	<title></title>
    <link rel="stylesheet" type="text/css" href="/public/styles.css"/>
</head>
<body>
    <div class="header">  
        <span class="site_title"><a href="/">Snippet Organizer</a></span>
    </div>
    
    <form action="/login" method="POST" class="login_form">
        <input type="text" name="username" placeholder="Username" class="login_input"/>
        <input type="text" name="password" placeholder="Password" class="login_input"/>
        <button class="action_button">Login</button>
    </form>

</body>
</html>