<!DOCTYPE html>
<html>
<head>
	<title></title>
    <link rel="stylesheet" type="text/css" href="/public/styles.css"/>
</head>
<body>
    <div class="header">  
        <span class="site_title">Snippet Organizer</span>
    </div>
    {{#user}}
    <div class="showUser_links">
        <a href="/{{id}}/createSnippet">Create a snippet for {{firstname}}</a></br>
    </div>
    <div class="user_info">
        <li>{{email}}</li>
        <li>{{firstname}} {{lastname}}</li>
        <li>Age: {{age}}</li>
        <a href="/{{_id}}/edit">Edit Profile</a>
    </div>

    <div class="snippets_listings">
        {{#snippets}}
            <li class="snippet_title"><a href="/snippet/{{_id}}/">{{title}}</a></li>
        {{/snippets}}
    </div>

    <form action="/{{_id}}?_method=DELETE" method="POST">
        <button>Delete</button>
    </form>
    {{/user}}
    </div>
</body>
</html>
