<!DOCTYPE html>
<html>
<head>
	<title></title>
    <link rel="stylesheet" type="text/css" href="/public/styles.css"/>
</head>
<body>
    <div class="header">  
        <span class="site_title"><a href="/">Snippet Organizer</a></span>
    </div>
    

    {{#snippet}}
    Snippet
    <a href="/snippet/{{_id}}/edit">Edit Snippet</a></br>
    {{title}}
    <code>
        {{html}}
    </code>
    <code>
        {{css}}
    </code>
    <code>
        {{script}}
    </code>

    <form action="/snippet/{{_id}}?_method=DELETE" method="POST">
        <button>Delete Snippet</button>
    </form>
    {{/snippet}}

</body>

</html>